<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="users can view a list of teas and toppings and have an option of submit their favorite combination of drinks"
    />
    <title>Bubble Tea | Home</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/main.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Bubble Tea Home</h1>
      <%- include('./navbar.ejs') %>
    </header>
    <main>
      <section class="container lists">
        <div class="column teas-list">
          <h2>teas</h2>
          <ul class="list">
            <% teas.forEach(tea => { %> <% if(tea.type === "tea") {%>
            <li class="item tea" draggable="true" date-name="<%= tea.type %>">
              <%= tea.name %>
            </li>
            <% } %> <% }) %>
          </ul>
        </div>
        <div class="column toppings-list">
          <h2>toppings</h2>
          <ul>
            <% for(tea of teas) {%> <% if(tea.type === "topping") {%>
            <li
              class="item topping"
              draggable="true"
              date-type="<%= tea.type %>"
            >
              <%= tea.name %>
            </li>
            <% } %> <% } %>
          </ul>
        </div>
      </section>
      <section class="container mix-match">
        <h2>let's mix and match your favorite!</h2>
        <p class="show-width">
          Your current browser width is <span class="bold" data-width></span>,
          please <span class="bold" data-action></span> your choices!
        </p>
        <%- include('./form.ejs') %>
      </section>
    </main>
    <%- include('./footer.ejs') %>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
