<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A leaderboard shows the popularity of drinks in order"
    />
    <title>Bubble Tea | Leaderboard</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/leaderboard.js" defer></script>
  </head>
  <body>
    <header>
      <h2>Leaderboard</h2>
      <%- include('./navbar.ejs') %>
    </header>
    <main>
      <ul class="leaderboard">
        <% orders.forEach(order => { %>
        <li
          class="leaderboard-list standard-border"
          date-count="<%= order.count %>"
        >
          <span class="leading-background"></span>
          <span><%= order.tea %> with <%= order.topping %></span>
          <span><%= order.count %></span>
        </li>
        <% }) %>
      </ul>
      <%- include('./footer.ejs') %>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
